footer {
  height: 300px;
  width: 100%;
  background-color: #53b5ff;
  border-top: 15px solid white;
  color: white;
  display: flex;
  position: relative;
  
}

footer a {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
}

.left-wrapper {
  display: flex;
  margin-top: 20px;
  width: 280px;
  height: 80%;
  margin-left: 30px;
  text-transform: uppercase;
}

.sitemap-wrapper {
  width: 100px;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  height: 200px;
  font-size: 1em;
}

.right-wrapper {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
  position: absolute;
  right: 50px;
  font-size: 1.3em;
  justify-content: space-evenly;
  transform: translateY(-50px);
}

.middle-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 200px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: -20px;
}

.donate-wrapper {
  margin: 20px;
  margin-bottom: 100px;
  display: flex;
  width: 400px;
  justify-content: space-evenly;
}

footer i {
  font-size: 2em;
}