header {
  height: 150px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #53b5ff;
  display: flex;
  font-size: 1.6em;
  justify-content: space-between;
}

.header-left {
  display: flex;
}

.logo-wrapper {
  height: 100%;
  margin-top: 7px;
  margin-left: 30px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  margin-left: 20px;
  display: flex;
  width: 700px;
  justify-content: space-between;
}

nav>div {
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7em
}

nav a {
  color: white;
  text-decoration: none;
  text-align: center;
  margin-top: 100px;
  transition: 0.2s
}

.btn {
  height: 75px;
  width: 200px;
  background-color: #F6FB62;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 75px;
  font-size: 1em;
  float: right;
  transition: 0.2s;
  cursor: pointer;
}

#donate {
  margin-right: 30px;
  margin-top: 40px;
}

.btn:hover {
  height: 200px;
  transform: translateY(-62px);
}

nav a:hover {
  color: #F6FB62;
}