body {
  margin: 0;
}

main {
  margin-top: 150px;
}

section {
  width: 100%;
  height: 500px;
  background-color: antiquewhite;
  border: 15px white solid;
  border-bottom: none;
  box-sizing: border-box;
}