body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

main {
  margin-top: 150px;
}

section {
  width: 100%;
  height: 400px;
  border-bottom: none;
  box-sizing: border-box;
  background-color: white;
  border: 15px white solid;
}

#banner1 {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  color: white;
  font-weight: bold;
  text-shadow: 2px 1px black;
}

#banner1>video {
  position: fixed;
  width: 100%;
  z-index: -1;
}

#banner2 {
  height: 400px
}

#banner2>.banner-image {
  background-image: url("../media/kids.jpg");
  float: right;
  border-left: 15px white solid;
  border-right: 0;
}

#banner2>.banner-text-wrapper {
  float: left;
}

.banner-text-wrapper {
  box-sizing: border-box;
  width: 60%;
  height: 100%;
  background-color: #53b5ff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-size: 2.4em;
  color: white;
}

.banner-image {
  border-left: 0px;
  height: 100%;
  box-sizing: border-box;
  width: 40%;
  background-size: cover;
}

#banner3 {
  border-top: 0px;
  height: 400px;
}

#banner3>.banner-text-wrapper {
  float: right;
  border-left: 15px white solid;
}

#banner3>.banner-image {
  background-image: url("../media/learning.jpg");
  background-size: cover;
  float: left;
  border-left: 0px;
}

.parallax {
  height: 500px;
  background-image: url(../media/futuredreams.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax-textbox {
  background-color: #53b5ff;
  padding: 20px;
  font-size: 2em;
  width: 80%;
  height: 50%;
  border: 15px white solid;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: white;
}

#cardmission {
  border-left: none;
}

.card {
  border-left: 15px white solid;
}

#banner-cards {
  display: flex;
  height: 500px;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
  text-align: center;
  height: 100px;
  font-weight: bold;
}

.card-text {
  color: white;
  font-size: 1.4em;
  height: 385px;
}

.card-text>div {
  padding: 10px;
}

#mission {
  background-color: #d25050;
}

#missiontext {
  background-color: #d25050;
  opacity: .5;
}

#education-text {
  background-color: #8f50d2;
  opacity: .5;
}

#program-text {
  background-color: #50d272;
  opacity: .5;
}

#programs {
  background-color: #50d272;
}

#education {
  background-color: #8f50d2;
}