#banner1 {
  text-align: center;
}

.banner-text-wrapper {
  font-size: 1.8em;
}

.clip-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 800px;
  background-color: white;
}

.square {
  height: 400px;
  width: 100%;
  border: 15px solid white;
  box-sizing: border-box;
  background-color: aliceblue;
  color: white;
  font-size: 2em;
  text-align: center;
  display: flex;
  justify-content: center;
}