#tiles {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 0px
}

.tile-wrapper {
  height: 100%;
  width: 100%;
  border: 15px solid white;
  background-color: #7BC6FF;
  position: relative;
  font-size: 2em;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  text-align: center;
  opacity: 0;
  transition: ease-in .2s;
  background-color: rgba(0, 0, 0, .5);
}

.overlay a {
  position: absolute;
  color: white;
  text-decoration: none;
  height: 300px;
  width: 300px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  line-height: 300px;
}

.tile-wrapper:hover .overlay {
  opacity: 1;
}

.tile-wrapper i {
  color: white;
  font-size: 2em;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 20;
}

#facebook {
  background-image: url(../media/people1.jpg)
}

#twitter {
  background-image: url(../media/people2.jpg)
}

#youtube {
  background-image: url(../media/people3.jpg)
}